.input_wrapper {
  position: relative;

  .form-control {
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
  }

  .results {
    position: absolute;
    z-index: 99;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    animation: slideDown ease 0.2s;

    .option {
      padding: 0.5rem 1rem;
      cursor: pointer;
      user-select: none;
      outline: none;

      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.05);
      }

      &::ng-deep strong {
        color: var(--bs-primary);
        font-weight: 500;
      }
    }

    &:empty {
      padding: 2rem 1rem;
    }

    &.loading {
      min-height: 120px;
    }

    .loading_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
    }
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% + 5px);
  }
}
