.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.3s;
  // box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
  height: 35px;
}

.header_toggle {
  color: white;
  background-color: #0e0e0eb8;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.header_avatar {
  // width: 35px;
  // height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_avatar img {
  width: 40px;
}

.header_avatar .dropdown-toggle {
  display: flex;
  align-items: center;

  // padding: 5px 15px;
  // border-radius: 1rem;
  // background: #eee;
  // color: #000;

  // &:hover,
  // &.show {
  //   background: #ddd;
  //   color: #000;
  // }
}
.header_avatar .dropdown-toggle::after {
  font-size: 0.9em;
}

.l-navbar,
.sidebar_bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(var(--nav-width) + 160px);
  background-color: var(--first-color);
  // transition: 0.3s;
  z-index: var(--z-fixed);
  // border-radius: 0 2rem 2rem 0;
}

.sidebar {
  font-weight: 400;
}

.sidebar.minified .l-navbar {
  position: absolute;
}

.l-navbar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  user-select: none;
}

.sidebar.show .l-navbar .nav {
  overflow: hidden;
}

.sidebar.minified {
  display: none !important;
}


.sidebar.minified .l-navbar .nav_list {
  overflow: visible !important;
}

.sidebar.minified .l-navbar .nav_name,
.sidebar.minified .l-navbar .nav_logo-name{
  visibility: hidden;
}

.l-navbar ul {
  position: relative;
  list-style: none;
  padding-left: 0;
}

.l-navbar .nav_logo,
.l-navbar .nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 1rem;
  align-items: center;
  padding: 0.75rem 0 0.75rem 1rem;
}

.l-navbar .nav_logo {
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  font-size: 1.1rem;
}

.l-navbar .nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.l-navbar .nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.l-navbar .nav_link {
  position: relative;
  // margin: 0.5rem 0;
  // transition: 0.3s;
}

.l-navbar .nav_link_close {
  margin-top: auto;
}

.sidebar.minified .l-navbar .nav_link_close {
  margin-top: 0;
}

.l-navbar a {
  color: var(--first-color-light);
  cursor: pointer;
}

.l-navbar .nav_link:first-child {
  margin-top: 0;
}

.l-navbar .nav_link:hover,
.l-navbar .nav_link.active {
  color: var(--white-color);
}

.l-navbar .nav_icon {
  font-size: 1.25rem;
}

.sb-open {
  padding-left: calc(var(--nav-width) + 1rem);
}

.l-navbar .nav_link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.l-navbar li.has-sub {
  position: relative;
}

.l-navbar li.has-sub::after {
  position: absolute;
  content: "\ecb3";
  font-family: boxicons;
  font-size: 20px;
  top: 10px;
  right: 5px;
  color: var(--first-color-light);
  transition: 0.2s;
}

.sidebar.show .l-navbar li.has-sub::after {
  right: 10px;
}

.sidebar.show .l-navbar li.has-sub.expand::after {
  transform: rotate(90deg);
}

.l-navbar .sub_menu {
  padding: 0.5rem 0.75rem 0.5rem 53px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: none;
}


.sidebar.minified .l-navbar .sub_menu {
  transform: translateX(2px);
  border-radius: 1rem;
}

.l-navbar .sub_menu a {
  display: block;
  padding: 0.5rem 0;
}

.l-navbar .sub_menu a:hover,
.l-navbar .sub_menu a.active {
  color: var(--white-color);
}

.sidebar.minified .l-navbar .sub_menu {
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--first-color);
  padding: 1rem;
  min-width: 200px;
}






.l-navbar .sub_sub_menu {
  padding: 0.5rem 0.75rem 0.5rem 53px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: none;
}


.sidebar.minified .l-navbar .sub_sub_menu {
  transform: translateX(2px);
  border-radius: 1rem;
}

.l-navbar .sub_sub_menu a {
  display: block;
  padding: 0.5rem 0;
}

.l-navbar .sub_sub_menu a:hover,
.l-navbar .sub_sub_menu a.active {
  color: var(--white-color);
}

.sidebar.minified .l-navbar .sub_sub_menu {
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--first-color);
  padding: 1rem;
  min-width: 200px;
}




.l-navbar .sub_sub_sub_menu {
  padding: 0.5rem 0.75rem 0.5rem 53px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: none;
}


.sidebar.minified .l-navbar .sub_sub_sub_menu {
  transform: translateX(2px);
  border-radius: 1rem;
}

.l-navbar .sub_sub_sub_menu a {
  display: block;
  padding: 0.5rem 0;
}

.l-navbar .sub_sub_sub_menu a:hover,
.l-navbar .sub_sub_sub_menu a.active {
  color: var(--white-color);
}

.sidebar.minified .l-navbar .sub_sub_sub_menu {
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--first-color);
  padding: 1rem;
  min-width: 200px;
}


/* Smartphones */
@media screen and (max-width: 767px) {


  .l-navbar {
    position: absolute;
  }

  .sidebar .l-navbar,
  .sidebar .sidebar_bg {
    width: var(--nav-width);
  }

  .sidebar.minified .l-navbar,
  .sidebar.minified .sidebar_bg {
    left: calc(var(--nav-width) * -1);
    
  }

  .l-navbar .nav,
  .l-navbar .nav_list {
    overflow: visible !important;
  }

  .l-navbar .nav_name,
  .l-navbar .nav_logo-name {
    visibility: hidden;
  }

  .l-navbar .sub_menu {
    position: absolute;
    top: 0;
    left: 100%;
    background: var(--first-color);
    padding: 1rem;
    min-width: 200px;
  }

  .l-navbar .nav_list > li:hover .sub_menu {
    display: block;
    transform: translateX(2px);
    border-radius: 1rem;
  }

  .l-navbar li.has-sub::after {
    right: 5px !important;
  }

  .l-navbar li.has-sub.expand::after {
    transform: none !important;
  }
}

/* Tablets y PC */
@media screen and (min-width: 768px) {

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  // .header_avatar {
  //   width: 40px;
  //   height: 40px;
  // }

  .header_avatar img {
    width: 45px;
  }

  .sidebar.minified .l-navbar,
  .sidebar.minified .sidebar_bg {
    width: var(--nav-width);
  }

  .sb-open {
    padding-left: calc(var(--nav-width) + 180px);
  }

  .sidebar.show .l-navbar li.has-sub.expand .sub_menu,
  .sidebar.minified .l-navbar .nav_list > li:hover .sub_menu {
    display: block;
  }

  .sidebar.show .l-navbar li.has-sub.expand .sub_menu li.has-sub.expand .sub_sub_menu,
  .sidebar.minified .l-navbar .nav_list > li:hover .sub_menu > li:hover .sub_sub_menu {
    display: block;
  }

  .sidebar.show .l-navbar li.has-sub.expand .sub_menu li.has-sub.expand .sub_sub_menu li.has-sub.expand .sub_sub_sub_menu,
  .sidebar.minified .l-navbar .nav_list > li:hover .sub_menu > li:hover .sub_sub_menu > li:hover .sub_sub_sub_menu{
    display: block;
  }

  .sidebar.minified .ps__rail-y {
    display: none !important;
  }
}
