<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content overflow-hidden">
      <div class="modal-header">
        <h5 class="modal-title">
          Cobrar cuenta
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0" [formGroup]="form">
        <div class="row g-0 align-items-stretch">
          <div class="col-md-8">
            <fieldset class="h-100 p-3" [disabled]="isLoadingBoxes" *ngIf="form.get('Saldo').value; else empty">

              <div class="mb-3">
                <ng-container *ngIf="!isLoadingBoxes; else loadingBoxes">
                  <button *ngFor="let item of cashes" type="button"
                    class="btn btn-outline-primary btn-sm rounded-pill me-2"
                    [class.active]="form.get('IdCaja').value == item.IdCaja" (click)="cashChange(item)">
                    {{item.Nombre}}
                  </button>
                </ng-container>
                <ng-template #loadingBoxes>
                  <i class="bx bx-spin bx-loader-circle"></i> Cargando cajas...
                </ng-template>
              </div>

              <ng-container>
                <ul class="nav nav-tabs nav-tabs-simple mb-4" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button"
                      role="tab" aria-selected="true">General</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab"
                      aria-selected="false">Anotaciones</button>
                  </li>
                </ul>
                <div class="tab-content">
                  <fieldset class="tab-pane fade show active" id="tab-1" role="tabpanel"
                    [disabled]="!form.get('Saldo').value">

                    <div class="row align-items-center mb-1">
                      <div class="col-md-5">
                        Importe a cobrar
                      </div>
                      <div class="col-md">
                        <input type="text" class="form-control form-control-lg rounded-pill" formControlName="Importe">
                      </div>
                    </div>
                    <ng-container *ngIf="form.get('IdCaja').value == 1">
                      <h6 class="border-bottom pb-2"><strong>Calculadora</strong></h6>
                      <div class="row align-items-center mb-1">
                        <div class="col-md-5">
                          Total recibido
                        </div>
                        <div class="col-md-7">
                          <input type="text" class="form-control form-control-lg rounded-pill"
                            formControlName="TotalRecibido">
                        </div>
                      </div>
                      <div class="row mb-1">
                        <div class="col-md">
                          <p class="small">Seleccione las cantidades para indicar el monto recibido</p>
                        </div>
                        <div class="col-md-7">
                          <div class="bg-light rounded p-3">
                            <div class="bills">
                              <span class="amount" *ngFor="let amount of bills" (click)="selectAmount(amount)">
                                {{amount}}
                              </span>
                              <span class="amount text-success border-success" (click)="setAmountTotal()">
                                Todo
                              </span>
                              <span class="amount text-danger border-danger" (click)="resetAmount()"
                                title="Reiniciar valor">
                                <i class="bx bx-eraser"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-md-5">
                          Vuelto
                        </div>
                        <div class="col-md">
                          <div
                            class="form-control form-control-lg form-control-plaintext px-3 border bg-light rounded-pill">
                            {{form.get('Vuelto').value | number:'0.2-2'}}
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </fieldset>
                  <fieldset class="tab-pane fade" id="tab-2" role="tabpanel" [disabled]="!form.get('Saldo').value">
                    <label class="form-label">Notas / observaciones</label>
                    <textarea class="form-control" rows="8" formControlName="Observaciones"></textarea>
                  </fieldset>
                </div>
              </ng-container>
            </fieldset>
            <ng-template #empty>
              <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="text-center text-muted">
                  <i class="bx bx-check-shield bx-lg"></i>
                  <div>Se ha cobrado el total de la venta</div>
                </div>
              </div>
            </ng-template>
          </div>
          <fieldset class="col-md right-side" [disabled]="!form.get('Saldo').value">
            <div class="h-100 p-3 bg-light d-flex flex-column justify-content-between">
              <div class="pb-5">
                <h5 class="mb-4">Resumen de venta</h5>
                <div class="row g-1 mb-3">
                  <div class="col">Total</div>
                  <div class="col-auto"><strong>S/ {{form.get('Total').value | number: '0.2-2'}}</strong></div>
                </div>
                <div class="row g-1 mb-3">
                  <div class="col">Total cobrado</div>
                  <div class="col-auto">S/ {{form.get('TotalCobrado').value | number: '0.2-2'}}</div>
                </div>
                <div class="row g-1 mb-3" [class.text-danger]="form.get('Saldo').value > 0">
                  <div class="col">Saldo</div>
                  <div class="col-auto">S/ {{form.get('Saldo').value | number: '0.2-2'}}</div>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-outline-primary btn-sm mb-3" (click)=collectAndPrint()>
                  <i class="bx bx-printer bx-md"></i> <span>Cobrar e imprimir</span>
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm mb-3" (click)=collectAndPayment()>
                  <i class="bx bx-refresh bx-md"></i> <span>Cobrar y nuevo pago con el saldo</span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)=saveAndClose()>
                  <i class="bx bx-save bx-md"></i> <span>Guardar pago y cerrar ventana</span>
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>