<div class="row gx-2 mb-3">
  <div class="col-12 mt-4">
    <p class="text-center fs-4 fw-bold text-principal">
      Equipos Impulsores de RIS
    </p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Amazonas</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Amazonas: <a
              href="https://drive.google.com/file/d/1Hv7EGxnvOkkn8uAfiKjHazgAcCc8_DAU/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Ancash</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Ancash: <a
              href="https://drive.google.com/file/d/1ia19ycIBy_XR5tBhM-tBm-zJc-0EeO1a/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Apurimac</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Apurimac: <a
              href="https://drive.google.com/file/d/1JBWqroJyQeF-P_gOeG8-QYMPQUbshktd/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Arequipa</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Arequipa: <a
              href="https://drive.google.com/file/d/1Ov3Oq3qb1lY9rnImSJWUv5YdQ_rF5Y44/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Ayacucho</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Ayacucho: <a
              href="https://drive.google.com/file/d/1yvVkBWqUnIA8qT_VT9CMZ1VTHyVdN9xO/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Cajamarca</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Cajamarca: <a
              href="https://drive.google.com/file/d/1hA1sfx-iB_eIqvjXJ2PoLCAl1m-H0of0/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Callao</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Callao: <a
              href="https://drive.google.com/file/d/1dIoabJTRILdE0c8orjc391w0sKkzoOYC/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Cusco</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Cusco: <a
              href="https://drive.google.com/file/d/1LMa68yjWrJyE2WXsfuSyt3qcHwrrFERZ/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Huancavelica</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Huancavelica: <a
              href="https://drive.google.com/file/d/13Kb4OvHxJV0lXQyUDLqWDWHM408lS9lx/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Huánuco</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Huánuco: <a
              href="https://drive.google.com/file/d/1JrOmwtLOOw53Ok8NOwGLB5IRJeJtHE2F/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Ica</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Ica: <a
              href="https://drive.google.com/file/d/1AtmCsfGVkmdstz2KJjj3HdF_ctANYXTG/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" style="height: 400px;">
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Lima</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Lima Centro: <a
              href="https://drive.google.com/file/d/1QlYC3sGdT_WDmSNoL66HxI9f4Jn35KUa/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
            <li>RD Lima Este: <a
              href="https://drive.google.com/file/d/1zKg1K-IBcSQig5NqOnWhPblFV1sde4AU/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
            <li>RD Lima Norte: <a
              href="https://drive.google.com/file/d/1q9deLkDHsk9jMy-3nTecUApQ7kdS87j5/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
            <li>RD Lima Sur: <a
              href="https://drive.google.com/file/d/1kOr3zhMbRJV0e9H4RjfP6hhewYbVf589/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
            <li>Reconformación de Comite: <a
              href="https://drive.google.com/file/d/1fvqIyuWaTLAViJTWRw7XcS3JWV8SrOzb/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Junín</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Junín: <a
              href="https://drive.google.com/file/d/1HuBLJiOFG0BnlscY5GONTDh3pQtAk89N/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>La Libertad</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD La Libertad: <a
              href="https://drive.google.com/file/d/1RuRt5-oftbBSxIuZYc8hTt5gRR1cB0cE/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Loreto</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Loreto: <a
              href="https://drive.google.com/file/d/1Sa54vhxCEToEzDnrF0m_bJeTpf6eqHD7/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Madre de Dios</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Madre de Dios: <a
              href="https://drive.google.com/file/d/1ZYdPeV2J3xPPCmNchXXsnSO15NN_gwmd/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Pasco</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Pasco: <a
              href="https://drive.google.com/file/d/1UgfW93ZOPD-pAykUwGOfplsfe9CYYxyi/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Piura</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Piura: <a
              href="https://drive.google.com/file/d/1Z0OxOTx3SqzPsc2TVufidgi0i9GBqo8r/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Puno</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Puno: <a
              href="https://drive.google.com/file/d/1ZGjrr955OTV8oOuAqLpOGqEuxeHqR_o7/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>San Martín</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD San Martín: <a
              href="https://drive.google.com/file/d/1zYlr5v1buIVyZL7aYaIrL_C11NeWrjR7/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Tacna</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Tacna: <a
              href="https://drive.google.com/file/d/1PUMcVs21L1MMYF-7sxv_66Te9LF37YtO/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Tumbes</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Tumbes: <a
              href="https://drive.google.com/file/d/1GcIn9F_qBjZlX6d0hV2XBNNVbkEQv8lL/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
      <div class="card card-body" >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Ucayali</strong>
        </p>
        <div class="card card-footer">
          <ul>
            <li>RD Ucayali: <a
              href="https://drive.google.com/file/d/18wZJdLvE9vNmF4eZ5XFyFbJ9lkGL7dKW/view?usp=sharing"
              target="_blank" class="masInfo">Más información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
