<div class="row">
  <div class="col-12">
    <p
      class="text-center fs-4 fw-bold text-principal mt-2"
    >
      Implementación de Redes Integradas de Salud - RIS
    </p>
  </div>
  <div class="row justify-content-center" style="background: white;">
    <div class="col-sm-12 col-md-8 col-lg-8 text-center aling-center mb-2">
      <div class="card-body">
        <img src="assets/modelo-ris.png" class="img-fluid p-4" />
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 card-body mb-3">
          <div class="col-12 fs-6">
            <p class="text-card">
              La <strong>Población</strong> de cada
              <strong>Sector Sanitario</strong> se le asigna a un
              <strong>EMS (Equipo Multidisciplinario de Salud)</strong> para
              brindar cuidado integral de salud,
              <strong>independientemente de su IAFAS.</strong>
            </p>
            <p class="text-card">
              La prestación de salud en la RIS se centra en el
              <strong
                >cuidado integral de la persona, familia y comunidad.</strong
              >
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center aling-center mb-2">
          <div class="card-body mb-3">
            <div class="col-12 fs-6 p-2">
              <img src="assets/ris2.png" class="img-fluid p-1" />
              <p class="fs-5 text-center fw-bold text-principal">
                91 RIS Estructuradas y 74 RIS Conformadas
              </p>
              <p class="text-center">
                Todas las Regiones y Lima Metropolitana han estructurado una o más
                RIS
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="background: white;">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center aling-center mb-2">
        <iframe width="100%" height="700px" src="https://www.arcgis.com/apps/dashboards/2d36ee55b7774112b8e853190dd60f09"></iframe>
    </div>
  </div>
  <div class="row justify-content-center" style="background: white;">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
      <div class="card-body">
        <img src="assets/avance_1.png" width="100px" class="mx-auto d-block mb-2">
        <p>
          Todos los Equipos impulsores de RIS - EIRIS confromados, en las <strong>25
          regiones y 04 DIRIS</strong> de Lima Metropolitana, así como <strong>36 Equipos</strong> de
          Gestión de RIS - EGRIS se han conformado a nivel nacional.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
        <div class="card-body">
          <img src="assets/avance_3.png" width="100px" class="mx-auto d-block mb-2">
          <p>Se han definido <strong>4031</strong> Sectores Sanitarios en <strong>91</strong> RIS estructuradas a nivel nacional.</p>
          <div class="card card-footer">
            <a href="assets/IPRESS_POR_RIS_Y ESTADO_ 91 Estruc y 74 Conformada_110222.xlsx" class="btn btn-primary rounded-pill" type="button">Descargar información</a>
          </div>
        </div>
      </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
      <div class="card-body">
        <img src="assets/avance_2.png" width="100px" class="mx-auto d-block mb-2">
        <p>
          <strong>2518</strong> recursos humanos capacitados en curso de adecuación de la
          organización de servicios de salud frente a la pandemia por COVID-19
          en contexto de RIS con ENSAP.
        </p>
        <div class="card card-footer">
          <a href="http://pees.minsa.gob.pe/" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
