<div class="row gx-2 mb-3">
    <div class="col-12 mt-4">
        <p class="text-center fs-4 fw-bold text-principal">
            Resolución de Conformaciones de RIS
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Ancash</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Huaylas: <a
                                href="https://drive.google.com/file/d/1683bMqW5pAwUxUDWQlu8XMWS0Yu4UVwl/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Arequipa</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución Castilla Codesuyos La Unión: <a
                                href="https://drive.google.com/file/d/1pbH9c_FslGN6-8-yZ4E9jqxjRUQP9_vb/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Ayacucho</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Cangallo, RIS Huamanga 1,2 y RIS Centro Ayacucho: <a
                                href="https://drive.google.com/file/d/1r-lASaqWYQPPaFU4Vwrz7tM7hyylnFNd/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS San Francisco: <a
                                href="https://drive.google.com/file/d/19_XAmNa-NzxhYPp-GI-Gwi4pj7ajm2V9/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Cajamarca</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS San Ignacio: <a
                                href="https://drive.google.com/file/d/1LSDoTrSZOksqTQjTBGFOT1xOIaedmbCn/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Cajamarca: <a
                                href="https://drive.google.com/file/d/16ELR2BG_3xqLyK_RdCYuyf3K3T9a8_jd/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                      <li>Resolución RIS Jaén: <a
                        href="https://drive.google.com/file/d/1uqIrdJzFf72I0iwqIe8-88iNcvADdXkb/view?usp=sharing"
                        target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Callao</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RD Ventanilla - Mi Perú: <a
                                href="https://drive.google.com/file/d/19q7wZL9I56wD_RqJPYkLNOqHMNPnpO95/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Cusco</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Chumbivilcas: <a
                                href="https://drive.google.com/file/d/19fvItjlQfJ-mERdphYPPm2Xa0h0htWwi/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Huancavelica</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Acobamba: <a
                                href="https://drive.google.com/file/d/1428V5zoovi1Jyr8Gl8qrvE54-WbjhcLs/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Churcampa: <a
                                href="https://drive.google.com/file/d/1azTqI1mAebDUWxI6mFV6MuzKlmf84QbL/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Huánuco</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Huánuco: <a
                                href="https://drive.google.com/file/d/1Ih8212FXE1Pung9hFPchlda1EoaLOVaU/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Junín</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Chanchamayo: <a
                                href="https://drive.google.com/file/d/1vR0UOcoMKlTxdTyldi6VBlMZAdqjAClq/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Tarma: <a
                                href="https://drive.google.com/file/d/1OaKFGaBdwFXrYGLY9rT5oJf_6GjV-A5u/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>La Libertad</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS La Libertad: <a
                                href="https://drive.google.com/file/d/1DwzRslv8Fqc6A1ep_gluOvvXXPTSj-sm/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS La Libertad: <a
                                href="https://drive.google.com/file/d/16HkWogSkK2L2eqXNK1JnCkrbY2v8_zSm/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Lambayeque</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Chiclayo 1: <a
                                href="https://drive.google.com/file/d/1GBBu642Uzd9B629BTbqt87CtTJ67mFxF/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Chiclayo 2: <a
                                href="https://drive.google.com/file/d/1NsTEFPQXNdrC1fFAH33SVzBv8hL7fpJQ/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" style="height: 400px;">
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Lima</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Chilca-Mala y Cañete-Yauyos: <a
                                href="https://drive.google.com/file/d/1HZvMoxGBzPJ2UhY-BpnCkQi8jS8hxzTA/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Lima Centro: <a
                                href="https://drive.google.com/file/d/1Z_Rx3qQj9eyAct2LikZ5Szf_qipPz1Td/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Lima Norte: <a
                                href="https://drive.google.com/file/d/1ElWZ7FEUIKs-_kIBntc3u206s9PMbbNy/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Lima Sur: <a
                                href="https://drive.google.com/file/d/15qs3TKuiqoyF6R-Q_hkO_u4ugGtgaPlA/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Lima Sur: <a
                                href="https://drive.google.com/file/d/1t17HoUE3eA7ahJa5nlo8LQsPIkjJPutZ/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Lima Este: <a
                                href="https://drive.google.com/file/d/15QhBcSK8HzzxZCCKuUt0Mzmzh47hbJE_/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Canta: <a
                                href="https://drive.google.com/file/d/1Cd4y4sfivKtdEtYhi4epQtjTEarrVPG3/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                        <li>Resolución RIS Huaral: <a
                                href="https://drive.google.com/file/d/1U89sqiTJb84OSNH8R8tFHAIaxj-GkWue/view?usp=sharing"
                                target="_blank" class="masInfo"> Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Loreto</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Alto Amazonas: <a
                                href="https://drive.google.com/file/d/1XOZx52bE-tFJM1s39NdggQ189hGVdKB5/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Madre de Dios</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Madre de Dios: <a
                                href="https://drive.google.com/file/d/1oicDGWDUPv89EkQvGEiGq-brpvLZYtE9/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Moquegua</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Ilo - Moquegua: <a
                                href="https://drive.google.com/file/d/1GmLrXosKjKNFqlBjSrphQOeQORJJT65r/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Piura</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Piura: <a
                                href="https://drive.google.com/file/d/1I0M6vWZalNbAjFVYHtjg4qYp4caaFRBk/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>San Martín</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS San Martin: <a
                                href="https://drive.google.com/file/d/1rPnfVMzxkfepVSK52YpMipMq3QIe8rYX/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Tacna</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Tacna: <a
                                href="https://drive.google.com/file/d/1fXqRQLy2PGnpkY9vEn5XOZz7tbXLjqSA/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Tumbes</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Tumbes: <a
                                href="https://drive.google.com/file/d/1vAqaiyBXzMdr1-jtUBbtOmErwG_DlLGf/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
            <div class="card card-body" >
                <i class="bx bxs-file-pdf icon-list"></i>
                <p class="text-center">
                    <strong>Ucayali</strong>
                </p>
                <div class="card card-footer">
                    <ul>
                        <li>Resolución RIS Ucayali: <a
                                href="https://drive.google.com/file/d/1bHDm4Tg-Gx_Qjrq1G_uvfVaOBUMxmq5f/view?usp=sharing"
                                target="_blank" class="masInfo">Más información</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4  col-lg-4 mb-4">
        <div class="card card-body" >
          <i class="bx bxs-file-pdf icon-list"></i>
          <p class="text-center">
            <strong>Apurimac</strong>
          </p>
          <div class="card card-footer">
            <ul>
              <li>Resolución RIS Aymaraes: <a
                href="https://drive.google.com/file/d/1udGPm3nOIyAM9NBmQztcNyoOYcNwabGl/view?usp=sharing"
                target="_blank" class="masInfo">Más información</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
