<div class="col-sm-12 order-1 order-md-0">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-3">
          <i class="bx bx-group bx-sm"></i> Listado de Usuarios
        </h5>
      </div>
      <div class="card-body" [formGroup]="formSearch" (ngSubmit)="search()">
        <div class="my-3" style="z-index: 9">
          <div class="form-check form-check-inline me-4">
            <input
              class="form-check-input"
              type="radio"
              id="rb_1"
              name="option"
              [value]="1"
              formControlName="option"
            />
            <label class="form-check-label" for="rb_1">Búsqueda rápida</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="rb_2"
              name="option"
              [value]="2"
              formControlName="option"
            />
            <label class="form-check-label" for="rb_2">Búsqueda avanzada</label>
          </div>
        </div>
        <ng-template [ngIf]="formSearch.get('option').value == 1">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Filtrar por:</label>
              <select class="form-select" formControlName="quick" (change)="onChange($event)">
                <option [value]="1">Establecimiento de Salud</option>
                <option [value]="2">Personal de Salud</option>
              </select>
            </div>
            <div class="col-md-5">
              <label class="form-label">{{quick_label}}</label>
              <app-selector-lazy bindLabel="Ris" bindValue="IdRis" [items]="esris"
                [formControl]="ris">
              </app-selector-lazy>
            </div>
            <div class="col-md-3" style="margin-top:30px">
              <button type="button" class="btn btn-secondary rounded-pill me-3" >
                  <i class="bx bx-eraser"></i> Limpiar
                </button>
              <button type="submit" class="btn btn-primary rounded-pill" (click)="search()">
                  <i class="bx bx-search-alt"></i> Buscar
                </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="card card-body mb-3" [class.loading]="isLoading">
      <ng-container *ngIf="orders.length; else empty">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th class="col-1 text-center">IPRESS</th>
                <th class="col-1 text-center">RIS</th>
                <th class="col-1 text-center">Nombres</th>
                <th class="col-1  text-center">Apellidos</th>
                <th class="col-1 text-center">Nombre Corto</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of orders | paginator: paginationController">
                <tr>
                  <td class="text-center">{{item.ipress}}</td>
                  <td class="text-center">{{item.ris}}</td>
                  <td class="text-center">{{item.nombres_ref}}</td>
                  <td class="text-center">{{item.paterno_ref + ' ' + item.materno_ref}}</td>
                  <td class="text-center">{{item.nombre_corto}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <app-paginator [total]="orders.length" [size]="10" (pagination)="paginationChange($event)">
        </app-paginator>
      </ng-container>
      <ng-template #empty>
        <div class="py-5 text-center">No se han encontrado resultados</div>
      </ng-template>
    </div>
  </div>
