<h4 class="title d-flex justify-content-between align-items-center">
  Historial de caja
</h4>
<div class="card card-body mb-3">
  <form [formGroup]="formSearch" (ngSubmit)="search()">
    <div class="row align-items-end">
      <div class="col-md-3 mb-3 mb-md-0">
        <label class="form-label">Caja</label>
        <select class="form-select" formControlName="id_caja"
          [class.is-invalid]="formSearch.get('id_caja').touched && formSearch.get('id_caja').errors">
          <option *ngFor="let item of cashes" [value]="item.IdCaja">{{ item.Nombre }}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3 mb-md-0">
        <label class="form-label">Fecha</label>
        <div class="input-group"
          [class.is-invalid]="formSearch.get('date_op').touched && formSearch.get('date_op').errors">
          <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_op"
            [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
          <div class="input-group-text bg-white border-start-0">
            <i class="bx bx-calendar"></i>
          </div>
        </div>
      </div>
      <div class="col-md text-end">
        <div class="btn-group me-2" role="group">
          <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bx bx-cog"></i> Operaciones
          </button>
          <ul class="dropdown-menu">
            <li>
              <button type="button" class="dropdown-item" (click)="open_moneybox()">
                Abrir caja
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item" (click)="close_moneybox()">
                Cerrar caja
              </button>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <button type="button" class="dropdown-item" (click)="entry_moneybox()">
                Ingreso
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item" (click)="egress_moneybox()">
                Egreso
              </button>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-secondary rounded-pill me-2" (click)="reset()">
          <i class="bx bx-eraser"></i> Limpiar
        </button>
        <button type="submit" class="btn btn-primary rounded-pill">
          <i class="bx bx-search-alt"></i> Buscar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="card card-body mb-3" [class.loading]="isLoading">
  <ng-container *ngIf="movements.length; else empty">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th></th>
            <th class="col-1 text-center">N°</th>
            <th class="col-1 text-center">Fecha</th>
            <th>Responsable</th>
            <th>Concepto</th>
            <th class="col-1 text-center">Referencia</th>
            <th class="col-1 text-center">N° Referencia</th>
            <th>Obs.</th>
            <th class="col-1 text-center">Moneda</th>
            <th class="col-1 text-center">Importe</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of movements | paginator: paginationController">
            <tr>
              <td class="text-center">
                <i class="bx"
                  [ngClass]="item.TipoMovimiento == 'E'? 'bx-right-arrow-circle text-success': 'bx-left-arrow-circle text-danger'"></i>
              </td>
              <td class="text-center">{{item.IdMovimiento}}</td>
              <td class="text-center">{{item.FechaOperacion | date:'dd/MM/yyyy'}}</td>
              <td>{{item.NombrePersonalOperacion}}</td>
              <td>{{item.NombreConcepto}}</td>
              <td class="text-center">{{item.Referencia}}</td>
              <td class="text-center">{{item.IdReferencia}}</td>
              <td>{{item.Observaciones}}</td>
              <td class="text-center">{{item.SimboloMoneda}}</td>
              <td class="text-center">{{item.Importe | number:'0.2-2'}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-paginator [total]="movements.length" [size]="10" (pagination)="paginationChange($event)">
    </app-paginator>
  </ng-container>
  <ng-template #empty>
    <div class="py-5 text-center">
      <i class="bx bx-lg bx-search-alt"></i>
      <div>No se han encontrado resultados</div>
    </div>
  </ng-template>
</div>