<div class="container">
  <div class="row">
    <div class="col">

      <h4 class="title d-flex justify-content-between align-items-center">
        Lista de contactos
        <a routerLink="/contactos/registro" class="btn btn-primary btn-sm px-4 rounded-pill">
          <i class="bx bx-user-plus"></i> Nuevo contacto
        </a>
      </h4>

      <div class="card card-body mb-4">
        <form class="mb-3" [formGroup]="formSearch">
          <input type="text" class="form-control" formControlName="param_text" (keyup.enter)="search()"
            placeholder="Buscar...">
        </form>

        <ng-container *ngIf="data.length; else empty">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-1 text-center">Documento</th>
                  <th class="col-2 text-center">N° documento</th>
                  <th>Nombre / Razón social</th>
                  <th class="col-1 text-center">Cliente</th>
                  <th class="col-1 text-center">Proveedor</th>
                  <th class="col-1 text-center">Activo</th>
                  <th class="col-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data | paginator: paginationController">
                  <td class="text-center">{{item.TipoDocumento || 'N/A'}}</td>
                  <td class="text-center">{{item.NroDocumento || 'N/A'}}</td>
                  <td>{{item.RazonSocial}}</td>
                  <td class="text-center">
                    <i class="bx" [class.bx-check]="item.FlagCliente"></i>
                  </td>
                  <td class="text-center">
                    <i class="bx" [class.bx-check]="item.FlagProveedor"></i>
                  </td>
                  <td class="text-center">{{item.FlagActivo | yesno}}</td>
                  <td>
                    <div class="options">
                      <a [routerLink]="['/contactos/registro', item.IdPropietario]" title="Editar">
                        <i class="bx bxs-navigation"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <app-paginator [total]="data.length" [size]="10" [pageSizes]="[10, 15, 20, 50]"
            (pagination)="paginationChange($event)">
          </app-paginator>

        </ng-container>

        <ng-template #empty>
          <div class="py-5 text-center">
            <i class="bx bx-search-alt bx-lg"></i><br>No hay resultados para la búsqueda
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</div>