nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.info {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}

.pagination-outer {
  text-align: center;
}

.pagination {
  display: inline-flex;
  margin: 0;

  li a.page-link {
    color: #000;
    height: 33px;
    width: 33px;
    padding: 0;
    margin: 0 1px;
    border: none;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    user-select: none;

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    .bx {
      font-size: 23px;
      line-height: 33px;
    }
  }
}
