<nav>
  <div class="info">
    <span>Items por pág.</span>
    <select class="form-select form-select-sm" [formControl]="sizeControl">
      <option *ngFor="let item of pageSizes" [value]="item">{{item}}</option>      
    </select>
    <span>{{start | number:'0.0-0'}} - {{end | number:'0.0-0'}} de {{total | number:'0.0-0'}}</span>
  </div>
  <div class="pagination-outer">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="goToPage(1)" title="Primera página" [class.disabled]="current == 1">
          <i class="bx bx-first-page"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="previousPage()" title="Página anterior" [class.disabled]="current == 1">
          <i class="bx bx-chevron-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="nextPage()" title="Siguiente página" [class.disabled]="!pages || current == pages">
          <i class="bx bx-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="goToPage(pages)" title="Última página" [class.disabled]="!pages || current == pages">
          <i class="bx bx-last-page"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>