<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-sm">
    <form class="modal-content" [formGroup]="form" (submit)="save()">
      <div class="modal-header">
        <h5 class="modal-title">{{form.get('IdUsuario').disabled? 'Editar': 'Agregar'}} usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Usuario</label>
          <input type="text" class="form-control text-uppercase" formControlName="IdUsuario" maxlength="250"
            [class.is-invalid]="form.get('IdUsuario').touched && form.get('IdUsuario').errors">
        </div>
        <div class="mb-3">
          <label class="form-label">Rol</label>
          <select class="form-select" formControlName="IdTipo">
            <option *ngFor="let item of roles" [value]="item.IdTipo">{{item.Detalle}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <div class="input-group">
            <input [type]="showPass? 'text': 'password'" class="form-control" formControlName="Clave" maxlength="250"
              [class.is-invalid]="form.get('Clave').touched && form.get('Clave').errors">
            <div class="input-group-text cursor-pointer" (click)="showPass = !showPass">
              <i class="bx" [ngClass]="showPass? 'bx-show': 'bx-hide'"></i>
            </div>
          </div>

        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="cb-user" formControlName="FlagActivo">
            <label class="form-check-label" for="cb-user">Activo</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Salir</button>
        <button type="submit" class="btn btn-primary rounded-pill px-3" [disabled]="form.invalid">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>