<div class="container" [formGroup]="form">
  <div class="row">
    <div class="col">
      <h4 class="title">Guía de ingreso / salida</h4>
      <fieldset class="card card-body" [disabled]="isLoading" [class.loading]="isLoading">
        <div class="row">
          <div class="col-md-3 mb-3">
            <label class="form-label">Almacén</label>
            <select class="form-select" formControlName="IdAlmacen">
              <option *ngFor="let item of warehouses" [value]="item.IdAlmacen"
                [class.is-invalid]="form.get('IdAlmacen').touched && form.get('IdAlmacen').errors">
                {{item.Detalle}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label class="form-label">Tipo Guía</label>
            <select class="form-select" formControlName="TipoGuia" (change)="changeType()"
              [class.is-invalid]="form.get('TipoGuia').touched && form.get('TipoGuia').errors">
              <option value="E">Guía de ingreso</option>
              <option value="S">Guía de salida</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Documento</label>
            <div class="row g-1">
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Serie" formControlName="DocumentoSerie">
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Número" formControlName="DocumentoNro">
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label">Fecha ingreso</label>
            <div class="input-group">
              <input type="text" class="form-control" bsDatepicker formControlName="FechaIngreso"
                [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }"
                [class.is-invalid]="form.get('FechaIngreso').touched && form.get('FechaIngreso').errors">
              <div class="input-group-text">
                <i class="bx bx-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-md-3 mb-3">
            <label class="form-label">Motivo</label>
            <select class="form-select" formControlName="IdMotivo"
              [class.is-invalid]="form.get('IdMotivo').touched && form.get('IdMotivo').errors">
              <option *ngFor="let item of movementsFilter" [value]="item.IdMotivo">
                {{item.Detalle}}
              </option>
            </select>
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label">Moneda</label>
            <select class="form-select" formControlName="IdMoneda">
              <option value="PEN">Soles</option>
            </select>
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label">Tasa cambio</label>
            <input type="text" class="form-control" formControlName="TasaCambio">
          </div>
          <div class="col-md mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" formControlName="FlagIncluyeIGV">
              <label for="">Precios inc. IGV</label>
            </div>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-md-3 mb-3">
            <label class="form-label">Doc. Referencia</label>
            <select class="form-select" formControlName="DocumentoRef">
              <option value="FAC">Factura</option>
              <option value="BOL">Boleta</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">N° documento</label>
            <input type="text" class="form-control" formControlName="DocumentoRefNro">
          </div>
          <div class="col-md mb-3">
            <button type="button" class="btn btn-outline-primary me-2" (click)="addItems()">
              <i class="bx bxs-plus-circle"></i> Agregar productos
            </button>
            <button type="button" class="btn btn-primary me-2" (click)="save()">
              <i class="bx bxs-save"></i> Guardar
            </button>
            <button type="button" class="btn btn-warning me-2" (click)="clear()">
              <i class="bx bxs-eraser"></i> Limpiar
            </button>
          </div>
        </div>
      </fieldset>

      <div class="card card-body my-3">
        <div class="table-responsive" formArrayName="GuiaDetalle">
          <table class="table align-middle">
            <thead>
              <tr>
                <th>Producto</th>
                <th class="col-1 text-center">Presentación</th>
                <th class="col-1 text-center">Cantidad</th>
                <th class="col-1 text-center">Costo</th>
                <th class="col-1 text-center">P.U.</th>
                <th class="col-1 text-center">Importe</th>
                <th class="col-auto"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products.controls; let i = index" [formGroupName]="i">
                <td>{{item.get('Nombre').value}}</td>
                <td class="text-center">{{item.get('UnidadMedida').value}}</td>
                <td class="text-center">
                  <!-- {{item.get('Cantidad').value}} -->
                  <input type="text" class="form-control form-control-sm rounded-pill text-center" formControlName="Cantidad">
                </td>
                <td class="text-center">
                  <!-- {{item.get('Costo').value | number: '0.2-2'}} -->
                  <input type="text" class="form-control form-control-sm rounded-pill text-center" formControlName="Costo">
                </td>
                <td class="text-center">
                  <!-- {{item.get('Precio').value | number: '0.2-2'}} -->
                  <input type="text" class="form-control form-control-sm rounded-pill text-center" formControlName="Precio">
                </td>
                <td class="text-center">{{item.get('Importe').value | number: '0.2-2'}}</td>
                <td class="text-end">
                  <div class="options">
                    <i class="bx bx-trash-alt" title="Eliminar" (click)="removeProduct(i)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="py-3 text-center" *ngIf="!products.controls.length">No hay productos agregados</div>
      </div>

    </div>
  </div>
</div>