<div class="row gx-2 mb-3">
  <div class="col-12 mt-4">
    <p
      class="text-center fs-4 fw-bold text-principal"
    >
      Intercambio Prestacional
    </p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Huaraz</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1osDo2iK6sGXneJlr2oiQlOtqgRiBR8Ir/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Cajamarca</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1JIDuvGWezJ_vCoWak1l4OlFPDdEvfbmr/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Cusco</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1cVb0ewyMXhXjR5EmmDVjMbmw1y7DJ6U4/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Huancavelica</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1EyKB98MNrgmuoShaQRoGZeS25jSvf3a6/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Madre de Dios</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/17VdSdyhQJZsB_zcBnLM4AxVYmbb9h2m4/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Pasco</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1rraF5X5WoRJL-0-nGg06n_NpjmI0g7YN/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Moyobamba</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1IGtO5ttmygtNBG3bGumvY3sbs2m0XJLg/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Tarapoto</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1AfjDYcj5AmM_prTiXLmKl7wlbeSrnbrF/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Tacna</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1SKVdTVBhYpjVR-StHQtsavDuk7pXNsQU/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card card-body"  >
        <i class="bx bxs-file-pdf icon-list"></i>
        <p class="text-center">
          <strong>Convenio Ucayali</strong>
        </p>
        <div class="card card-footer">
          <a href="https://drive.google.com/file/d/1PckOweR4XKeFsD8CLTNds4Xa-jBk4B1I/view?usp=sharing" target="_blank" class="btn btn-primary rounded-pill" type="button">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
