.table tbody tr {
  td {
    border-bottom: 0;
    cursor: pointer;
  }

  &.active {
    background: var(--bs-primary);
    color: #fff;
    transition: all ease 0.3s;
  }

  &:hover {
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
  }
}

.form-label {
  margin-bottom: 0.1rem;
}

.modal-content {
  width: 900px;
}

.empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  padding: 2rem 0;
  min-height: 200px;
}

.side-right {
  border-radius: 0 0 0.5rem 0;
  transition: all ease 0.3s;
  animation: translateInAxis ease 0.5s;

  .image {
    height: 80px;
    max-width: 80px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.badge {
  font-weight: 400;
  font-size: 0.85rem;
}

@keyframes translateInAxis {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
