<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Presentaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="form">
        <div class="row g-2 align-items-center mb-3">
          <div class="col-sm-3">
            <label class="form-label m-0">Presentación</label>
          </div>
          <div class="col-sm">
            <select class="form-select" formControlName="IdUnidadMedida"
              [class.is-invalid]="form.get('IdUnidadMedida').touched && form.get('IdUnidadMedida').errors">
              <option *ngFor="let item of units" [value]="item.IdUnidadMedida">
                {{item.Detalle}}
              </option>
            </select>
          </div>
        </div>
        
        <ng-container *ngIf="unitBase">
          <div class="row g-2 align-items-center mb-3">
            <div class="col-sm-3">
              <label class="form-label m-0">Factor</label>
            </div>
            <div class="col-sm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="Factor"
                  [class.is-invalid]="form.get('Factor').touched && form.get('Factor').errors">
                <div class="input-group-text">
                  {{unitBase}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 offset-sm-3 mb-3">
              <div class="small text-muted">
                El factor de la presentación viene a ser la cantidad de unidades base que contiene.<br>
                Ejm. Si un paquete contiene 40 unidades su factor será 40
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row g-2 align-items-center mb-3">
          <div class="col-sm-3">
            <label class="form-label m-0">P. Venta</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" formControlName="Precio"
              [class.is-invalid]="form.get('Precio').touched && form.get('Precio').errors">
          </div>
          <div class="col-sm-3 text-end">
            <label class="form-label m-0">P. Vta. Min</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" formControlName="PrecioMin"
              [class.is-invalid]="form.get('PrecioMin').touched && form.get('PrecioMin').errors">
          </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
          <div class="col-sm-3">
            <label class="form-label m-0">Cód. de barras</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <div class="input-group-text">
                <i class="bx bx-barcode-reader bx-sm"></i>
              </div>
              <input type="text" class="form-control" formControlName="EAN" maxlength="15">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 offset-sm-3">
            <div class="form-check form-switch">
              <input id="cbFlagVta" class="form-check-input" type="checkbox" formControlName="FlagVenta">
              <label for="cbFlagVta">Habilitar venta</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary rounded-pill me-auto" (click)="reset()">Limpiar</button>
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-primary rounded-pill px-3" (click)="save()">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>