<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content overflow-hidden">
      <div class="modal-header">
        <h5 class="modal-title">Contactos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">

        <div class="row g-0 align-items-stretch">
          <div class="col-md-2 py-4 bg-light">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
              <a class="nav-link mb-2 p-3 rounded-0 active" data-bs-toggle="tab" data-bs-target="#tab-1" role="tab"
                aria-selected="true">
                <i class="bx bx-user-pin bx-sm"></i> BÚSQUEDA
              </a>
              <a class="nav-link p-3 rounded-0" data-bs-toggle="tab" data-bs-target="#tab-2" role="tab"
                aria-selected="true">
                <i class="bx bxs-pencil bx-sm"></i> REGISTRO
              </a>
            </div>
          </div>
          <div class="col-md bg-white">
            <div class="tab-content p-3">
              <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                <form class="mb-3" [formGroup]="formSearch">
                  <label class="form-label">Buscar</label>
                  <input type="text" class="form-control" formControlName="param_text" (keyup.enter)="search()"
                    placeholder="Ingrese un texto...">
                </form>

                <ng-container *ngIf="data.length; else empty">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="col-1 text-center">Documento</th>
                          <th class="col-2 text-center">N° documento</th>
                          <th>Nombre / Razón social</th>
                          <th class="col-1 text-center">Activo</th>
                          <th class="col-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of data | paginator: paginationController">
                          <td class="text-center">{{item.TipoDocumento || 'N/A'}}</td>
                          <td class="text-center">{{item.NroDocumento || 'N/A'}}</td>
                          <td>{{item.RazonSocial}}</td>
                          <td class="text-center">{{item.FlagActivo | yesno}}</td>
                          <td>
                            <div class="options">
                              <i class="bx bxs-pencil me-2" (click)="edit(item)" title="Editar"></i>
                              <i class="bx bxs-navigation" (click)="selected(item)" title="Seleccionar"></i>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <app-paginator [total]="data.length" [size]="5" (pagination)="paginationController = $event">
                  </app-paginator>

                </ng-container>

                <ng-template #empty>
                  <div class="py-5 text-center">
                    <i class="bx bx-search-alt bx-lg"></i><br>No hay resultados para la búsqueda
                  </div>
                </ng-template>
              </div>
              <div class="tab-pane fade" id="tab-2" role="tabpanel">
                <app-customer-create [ownerId]="ownerId" (onSave)="onSaveOwner($event)"></app-customer-create>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>