.full-page {
  background: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.card {
  position: relative;
  background: #fff;
  border: none;
  max-width: 800px;
  width: 95%;
  overflow: hidden;
  margin: auto;
  z-index: 99;
}

.input-field {
  position: relative;
  margin-top: 5px;
}

.input-field input {
  height: 50px;
  outline: none !important;
  border-width: 2px;
}

input:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    // -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.input-field input:focus {
  box-shadow: none;
  outline: none !important;
}

.input-field label {
  position: absolute;
  top: 13px;
  left: 6px;
  transition: all 0.2s;
  background-color: #fff;
  padding: 0px 10px;
  border-radius: 20px;
}

.input-field input:focus + label,
.input-field input:valid + label {
  position: absolute;
  top: -10px;
  left: 6px;
  font-size: 13px;
}

.signup-button {
  height: 50px;
  font-size: 19px;
  text-transform: uppercase;
  color: white;
}

.left-side {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.right-side {
  background-color: var(--bs-primary);
  height: 100%;
  width: 100%;
  padding: 10px;
  position: relative;
}

.right-side .content {
  position: absolute;
  top:10%;
  left: 0%;
  padding: 0px 60px;
  z-index: 5;
}

.parallelograms {
  position: relative;
}

.parallelograms span {
  border-radius: 2px;
  display: flex;
  transform: skew(20deg);
  position: absolute;
  object-fit: cover;
  overflow: hidden;
}

.parallelograms span:nth-child(1) {
  height: 120px;
  width: 75px;
  background-color: var(--bs-warning);
  left: -20px;
}

.parallelograms span:nth-child(2) {
  height: 50px;
  width: 40px;
  background-color: var(--bs-warning);
  left: 60px;
  top: 20px;
}

.parallelograms span:nth-child(3) {
  height: 50px;
  width: 40px;
  background-color: #3011ac;
  right: 20px;
  top: -20px;
}

.parallelograms span:nth-child(4) {
  height: 140px;
  width: 100px;
  background-color: #3011ac;
  right: 40px;
  top: 70px;
}

.parallelograms span:nth-child(5) {
  height: 140px;
  width: 100px;
  background-color: #2d1494;
  right: 30px;
  top: 60px;
}

.parallelograms span:nth-child(6) {
  height: 140px;
  width: 100px;
  background-color: #3011ac;
  top: 400px;
  overflow: hidden;
}

.parallelograms span:nth-child(7) {
  height: 60px;
  width: 40px;
  background-color: #3011ac;
  top: 400px;
  right: 10px;
  overflow: hidden;
}

.parallelograms span:nth-child(8) {
  height: 100px;
  width: 70px;
  background-color: #3011ac;
  top: 440px;
  right: 40px;
  overflow: hidden;
}

.parallelograms span:nth-child(9) {
  height: 70px;
  width: 40px;
  background-color: #3011ac;
  top: 350px;
  right: 90px;
  overflow: hidden;
  transition: all 0.5s;
  transition-delay: 1s;
}

.parallelograms span:nth-child(10) {
  height: 50px;
  width: 100px;
  background-color: #3011ac;
  left: 20px;
  top: 340px;

  transition: all 0.5s;
}

.card:hover .parallelograms span:nth-child(10) {
  left: 20px;
  top: 330px;
}

.card:hover .parallelograms span:nth-child(9) {
  top: 340px;
  right: 90px;
}

.content {
  color: #fff;
  font-weight: 300;
}

.content h5 {
  text-align: left;
}

.content .description {
  font-size: 0.75rem;
}
.content img {
  margin-left: 10%;
}
.logo img{
  max-width: 15rem;
  width: 100%;
  margin-top: -100px;

}

@media screen and (max-width: 768px) {
  .right-side .content {
    position: relative;
    top: 0;
    left: 0;
  }
}
