<div class="full-page">
  <form class="card shadow" [formGroup]="form" (ngSubmit)="sigIn()">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="left-side">
          <div class="py-2 px-3">
            <div class="logo">
              <img src="assets/logo-minsa-opt.jpg">
            </div>
            <h4 class="text-center">Iniciar sesión</h4>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="input-field">
                  <input type="text" class="form-control" id="username" formControlName="username"
                    [class.is-invalid]="form.get('username').touched && form.get('username').errors" required>
                  <label for="username">Usuario</label>
                </div>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col-md-12">
                <div class="input-field">
                  <input type="password" class="form-control" id="password" formControlName="password"
                    [class.is-invalid]="form.get('password').touched && form.get('password').errors" required>
                  <label for="password">Contraseña</label>
                </div>
              </div>
            </div>
            <p class="text-danger" *ngIf="error_message">{{error_message}}</p>
            <div class="row mt-2">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary w-100 rounded-pill signup-button" [disabled]="isLoading">
                  <i class="bx bx-spin bx-loader-alt" *ngIf="isLoading"></i>
                  Ingresar
                </button>
              </div>
            </div>
            <div class="member mt-2">
              <span>¿Olvidaste tu contraseña?</span>
              <a class="btn btn-sm btn-link ms-2 p-0">Recupéralo</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-side">
          <div class="content">
            <h5 class="text-center">¡Bienvenido al GeoRis!</h5>
            <div class="description">
              Sistema de gestión de las Redes Integradas de Salud
            </div>
            <div>
              <img src="assets/ris2.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>