<div class="header_right">
  <div class="header_toggle" (click)="toggleActive()">
    <i class='bx bx-menu'></i>
  </div>
</div>
<div class="sidebar" [ngClass]="toggle? 'show': 'minified'">
  <div class="sidebar_bg"></div>
  <div class="l-navbar">
    <nav class="nav">
      <a class="nav_logo" routerLink="/">
        <img class="nav_logo-icon" src="assets/icon.png" width="30px" height="auto">
        <span class="nav_logo-name">Redes Integradas<br> de Salud</span>
      </a>
      <ul class="nav_list" [perfectScrollbar]>
        <li *ngFor="let item of options" [class.expand]="item.expand" [class.has-sub]="item.childrens?.length">
          <ng-container
            *ngIf="item.childrens?.length && item.role == rolAccess || item.role == 'publico'; else withOutChild">
            <a class="nav_link" [class.active]="item.selected" (click)="toggleMenu(item)">
              <i class="bx nav_icon" [ngClass]="item.icon"></i>
              <span class="nav_name" [innerHTML]="item.title"></span>
            </a>
            <ul class="sub_menu">
              <li *ngFor="let sub of item.childrens" [class.expand]="sub.expand"
                [class.has-sub]="sub.childrens?.length">

                <ng-container *ngIf="sub.childrens?.length ; else withOutChild2">
                  <a class="nav_link" [class.active]="sub.selected" (click)="toggleSubMenu(sub)">
                    <i class="bx nav_icon" [ngClass]="sub.icon"></i>
                    <span class="nav_name" [innerHTML]="sub.title"></span>
                  </a>
                  <ul class="sub_sub_menu">
                    <li *ngFor="let subsub of sub.childrens" [class.expand]="subsub.expand"
                      [class.has-sub]="subsub.childrens?.length">



                      <ng-container *ngIf="subsub.childrens?.length ; else withOutChild3">
                        <a class="nav_link" [class.active]="subsub.selected" (click)="toggleSubSubMenu(subsub)">
                          <i class="bx nav_icon" [ngClass]="subsub.icon"></i>
                          <span class="nav_name" [innerHTML]="subsub.title"></span>
                        </a>
                        <ul class="sub_sub_sub_menu">
                          <li *ngFor="let subsubsub of subsub.childrens" [class.expand]="subsub.expand"
                            [class.has-sub]="subsubsub.childrens?.length">
                            <a [routerLink]="subsubsub.url" [queryParams]="subsubsub.params" routerLinkActive="active"
                              [routerLinkActiveOptions]="{exact: true}" [innerHTML]="subsubsub.title"
                              (click)="toggleActive()"></a>
                          </li>
                        </ul>
                      </ng-container>
      
                      <ng-template #withOutChild3>
                        <a class="nav_link" [routerLink]="subsub.url" routerLinkActive="active"
                          [routerLinkActiveOptions]="{exact: true}" *ngIf="!subsub.role?.length" (click)="toggleActive()">
                          <i class="bx nav_icon" [ngClass]="subsub.icon"></i>
                          <span class="nav_name" [innerHTML]="subsub.title"></span>
                        </a>
      
                      </ng-template>








<!-- 
                      <a [routerLink]="subsub.url" [queryParams]="subsub.params" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" [innerHTML]="subsub.title"
                        (click)="toggleActive()"></a> -->
                    </li>
                  </ul>
                </ng-container>

                <ng-template #withOutChild2>
                  <a class="nav_link" [routerLink]="sub.url" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" *ngIf="!sub.role?.length" (click)="toggleActive()">
                    <i class="bx nav_icon" [ngClass]="sub.icon"></i>
                    <span class="nav_name" [innerHTML]="sub.title"></span>
                  </a>

                </ng-template>
              </li>
            </ul>
          </ng-container>
          <ng-template #withOutChild>
            <a class="nav_link" [routerLink]="item.url" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" *ngIf="!item.role?.length" (click)="toggleActive()">
              <i class="bx nav_icon" [ngClass]="item.icon"></i>
              <span class="nav_name" [innerHTML]="item.title"></span>
            </a>
          </ng-template>
        </li>
      </ul>
      <a class="nav_link nav_link_close" (click)="signOut()" *ngIf="user">
        <i class="bx bx-log-out-circle nav_icon"></i>
        <span class="nav_name">Salir</span>
      </a>
      <a class="nav_link nav_link_close" (click)="signIn()" *ngIf="!user">
        <i class="bx bx-log-in-circle nav_icon"></i>
        <span class="nav_name">Intranet</span>
      </a>
    </nav>
  </div>
</div>